<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enterprise.demo.sys.dao.PermissionMapper">

  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="com.enterprise.demo.sys.entity.Permission">
    <id column="id" property="id"/>
    <result column="permission_id" property="permissionId"/>
    <result column="name" property="name"/>
    <result column="description" property="description"/>
    <result column="url" property="url"/>
    <result column="perms" property="perms"/>
    <result column="parent_id" property="parentId"/>
    <result column="type" property="type"/>
    <result column="order_num" property="orderNum"/>
    <result column="icon" property="icon"/>
    <result column="gmt_create" property="gmtCreate"/>
    <result column="gmt_modified" property="gmtModified"/>
  </resultMap>

  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
        id, permission_id AS permissionId, name, description, url, perms, parent_id AS parentId, type,
        order_num AS orderNum, icon, gmt_create AS gmtCreate, gmt_modified AS gmtModified
    </sql>

  <select id="selectPermsByPermissionIds" resultType="String">
    SELECT perms
    FROM permission
    WHERE perms != ''
    AND permission_id IN
    <foreach close=")" collection="permissionIds" index="index" item="item" open="(" separator=",">
      #{item}
    </foreach>
  </select>

  <select id="selectMenuByPermissionIds" resultMap="BaseResultMap">
    SELECT id, permission_id, name, description, url, parent_id, icon, order_num
    FROM permission
    WHERE type IN(0,1)
    AND permission_id IN
    <foreach close=")" collection="permissionIds" index="index" item="item" open="(" separator=",">
      #{item}
    </foreach>
    ORDER BY order_num
  </select>

</mapper>
